<p><h1>Add a new definition:</h1></p>

<form action="/definitions" method="post">
  <label for="name">Word</label>
  <input id="name", name="name" type="test">

  <label for="description">Definition</label>
  <input id="description", name="description" type="test">

  <button type="submit" class="btn btn-success">Add me to the dictionary!</button>
</form>
