<h1>Your definition has been added.</h1>
<hr/>
<h2>All definitions</h2>
<ul>
  <!--description comes from Definition.java, definitions is from defs.vtl-->
#foreach ($description in $definitions)
  <!--dynamically creating a link to each individual definition. First is def/1, 23rd is def/23-->
  <a href="/definitions/$description.getId()">$description.getDescription()</a>
#end
</ul>
<hr/>
<a href="definitions/new">Add a new definition!</a>
<hr/>
<a href="/definitions">View all definitions.</a>
