<h1>All about your word</h1>
<p></p>

#if ($description)
  <h2>$description.getDescription()</h2>
#else
  <h2>Definition not found</h2>
#end

<a class="btn btn-success btn-med" href="/definitions/new" role="button">Add a new definition!</a>
