<h1>$word:</h1>
<ul>
  <!--description comes from Definition.java, definitions is from defs.vtl-->
#foreach ($description in $definitions)
  <!--dynamically creating a link to each individual definition. First is def/1, 23rd is def/23-->
  <a href="/definitions/$description.getId()">$description.getDescription()</a>
#end
</ul>
<hr/>
<a class="btn btn-success btn-med" href="/definitions/new" role="button">Add a new definition!</a>
