<p></p>
<div class="jumbotron">
  <h1>Dictionary!</h1>
  <p>This is a customizable personal dictionary. It's made for you, by you!
    Enter every word that you would like to include, and then add definitions
    for all your words. You can add as many definitions as you want!</p>
  <p><a class="btn btn-success btn-lg" href="/words/new" role="button">Add a new word!</a></p>
  <p><a class="btn btn-success btn-lg" href="/words" role="button">View all words.</a></p>
</div>
