<!DOCTYPE html>
<html>
  <head>
    <title>Dictionary</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">

      <div class="container-fluid">
        <div class="collapse navbar-collapse">
         <ul class="nav nav-tabs">
            <li><a href="/">Home</a></li>
            <li><a href="/words">Your Dictionary</a></li>
            <li><a href="/words/new">Add a New Word</a></li>
         </ul>
        </div>
      </div>

      #parse( $template )
    </div>
  </body>
</html>
