<h3>Success!</h3>

#if ($definition)
  Your definition has been saved.
#elseif ($word)
  Your word has been added to the dictionary.
#end

<a href="words/new">Add a new word!</a>
<hr/>
<a href="/words">View all words.</a>
