<h1>Success!</h1>

#if ($definition)
  Your definition has been saved.
#elseif ($word)
  Your word has been added to the dictionary.
#end
<p></p>

<a class="btn btn-success btn-med" href="/words/new" role="button">Add a new word!</a>
<a class="btn btn-success btn-med" href="/words" role="button">View all words.</a>
