<p><h1>Add a new word to your dictionary:</h1></p>

<form action="/words" method="post">
  <div class="form-group">
    <label for="name"></label>
    <input id="name" name="name" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add me to the dictionary!</button>
</form>
