<h3>Here are all the definitions for your word.</h3>

<!--description comes from Definition.java, definitions is from defs.vtl-->
#foreach($description in $definitions)
 <h3>$description.getDefinition()</h3>
#end

<a href="/words/new">Add a new definition!</a>
<hr/>
<a href="/">Return to main page.</a>
