<h1>$word.getName():</h1>
<p></p>

<ol>
    #foreach ($definition in $word.getDefinitions())
      <li><h3> $definition.getDescription()</h3></li>
    #end
</ol>

<hr/>
<a href="/words/$word.getId()/definitions/new">Add a new definition!</a>
<hr/>
<a href="/">Return to main page.</a>
