<p><h1>Add a new word to your dictionary:</h1></p>

<form action="/words" method="post">
  <label for="name">Word</label>
  <input id="name", name="name" type="test">

  <button type="submit" class="btn btn-success">Add me to the dictionary!</button>
</form>
